body,html {
	background-color: darkcyan;
	height: 100%;
	width: 100%;
	display: flex;
	background-image: url(../PICS/bg.jpg);
	background-position: 500px 1px;
}
div {
	margin: auto;
	padding: 30px;
	margin-top: 50px;
	width: 500px;
	height: 500px;
	align-items: center;
	display: flex;
	flex-direction: column;
}
#pic {
	width:20%;
	height:100px;
	user-select: none;
}
form {
	width: 100%;
	height: 50%;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 10px;
}
.info {
	height: 30px;
	width: 400px;
	border: 3px solid rgb(83, 122, 146);
	border-radius: 5px;
	font-size: large;
	text-align: center;
	user-select: none;
}
.info:focus {
	border-color: rgb(84, 86, 184);
	outline: none;
	box-shadow: 0 0 10px aqua;
}
#remember {
	display: flex;
	align-items: center;
	gap: 10px;
	color: white;
	cursor: pointer;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
	user-select: none;
	margin-right: 50%;
}
#remember input {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

#signin {
	height: 50px;
	width: 410px;
	color: white;
	background-color: rgb(68, 69, 134);
	font-size: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	cursor: pointer;
	border-radius: 5px;
}
#signin:hover {
	background-color: rgb(46, 46, 95);
	font-weight: bold;
	box-shadow: 0 0 10px 5px aqua;
}